/* fuente */
$fuentePrincipal:'Roboto', sans-serif;

/* paleta de colores */
$colorPrincipal:#FF6969;
$colorSecundario:#F5F6F7;
$colorTerciario:#aaaaaa;
$colorBlanco: #FFFFFF;
$colorNegro: #000000;
$colorParrafo: #212529;
$colorPais:#8a8a8a;

/* variables de media query*/
$telefono: 420px;
$tablet: 768px;
$desktop: 1280px;